html, body
{
    padding: 0; 
    margin: 0;
}
#myCanvas
{
    /* margin-top: 10%; */
    /* background: #cfcfcf; */
    /* width: 100vw;
    height: 30vw; */
    background: #071b18;
    /* background: #31756a; */
}

