html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
*{

    box-sizing: border-box;
}

.pelotaK{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: skyblue;
    display: inline-block;
    position: absolute;
    

}