html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#pelota{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    background: black;
    display: inline-block;
    position: absolute;
}