html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ball
{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background: blue;
    position: absolute;
}

.ball-container
{
    position: relative;
    width: 50vw;
    height: 60vh;
    background: lime;
}