.book-card{
    height: 200px !important;
}
.book-img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .book-card{
        height: 150px !important;
    }
    .book-card-img{
        width: 40%;
    }
    .book-card-description{
        width: 60%;
    }
}