html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.btnS {
    width: 200px;
    height: 50px;
    border: 1px solid black;
  
}





