html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.pelota {
    width: 5rem;
    height: 5rem;
    background: red;
    border-radius: 2.5rem;
    position: absolute;
}

.bar {
    width: 10rem;
    height: 2rem;
    background: dimgrey;
    border-radius: 1rem;
    position: absolute;
}