html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.pelota {
    width: 3rem;
    height: 3rem;
    background: red;
    border-radius: 1.5rem;
    position: absolute;
}

.bar {
    width: 10rem;
    height: 5%;
    background: dimgrey;
    border-radius: 1rem;
    position: absolute;
    top: 35rem;
}