html,body{
    width: 100%;
    height: 100%;
    padding: 0;
}

*{
    box-sizing: border-box;
}

main{
    display: inline-block;
    
}
.cuadro{
    height: 15rem;
    width: 15rem;
    border: 1px solid black;
    margin-left: 2rem; 

    float: left;
}

.bg-azul{
    background: skyblue;
    margin:0;
}

.bg-pink{
    background: pink;
}

.bg-green{
    background: green;
}