/* html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: #696969;
}

.ball
{   
    width: 5vw;
    height: 5vw;
    border-radius: 5rem;
    background: #D8E89B;
    position: absolute;

}

.barrita{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 15vw;
    height: 2vw;
    background: #FFD8AB;
    border-radius: 2rem; 
}

.ball-container
{
    position: relative;
    width: 50vw;
    height: 60vh;
    background: lime;
}

.input{
    margin: auto; 
    height: 25rem;
    width: 25rem;
    /* background: darkolivegreen; 
    padding-top: 13%;
}

.center{
    text-align: center;
}

.m-top{
    margin-top:10%;
}

.input-name{
    margin: auto; 
    height: 20rem;
    width: 25rem;
    background: skyblue;
    border-radius: 3rem;
    padding: 10%;
} */

#Pelota{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: red;
    display: inline-block;
    position: absolute;
}

#menu{
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    display: inline-block;
    background: rgba(135, 207, 235, 0.493);
    position: absolute;
    left: 45%;
    top: 25%;
}
.login{
text-align: center;

}
.login input{
  margin-top: 30%;
}
.fondodepantalla{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image:  url('../Imagenes/arcade.png');
    background-repeat: no-repeat;
    filter: blur(5px);
}
#barra{
    width: 7rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 5rem;
    background: white;
    display: inline-block;
    position: absolute;
    top: 70%;
   
}

#topPelota, #abajoPelota
{
    border: 3px solid lime;
    position: absolute;
    width: 100vw;
}

#topBarra, #abajoBarra
{
    border: 3px solid yellow;
    position: absolute;
    width: 100vw;
}
