html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*
{
    box-sizing: border-box;
    background-color: #353535;    
}

#landing
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: background-color 4s ease;
    background-color: #cdfdbc;

}

#landing
{
    background-color: #3C4A37;
}
#landing h1
{
    margin: 0;
    padding-top: 19.2%;
    padding-bottom: 19.2%;
    text-align: center;
    font-family: Grenze, serif;
    font-size: 70px;
    transition: color 2s ease;
    background-color: transparent;
}

#landing h1
{
    color: #ffffff;
}

#landing a 
{
    text-decoration: none;
    font-family: 'Lacquer';
    text-align: center;
    color: #e0e0e0c0;
    padding-bottom: 1%; 
}

.title
{
    padding: 0; 
    margin: 0; 
    width: 100%;
}

.title h1
{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    text-align: center
}
.student ul 
{
    margin: 0; 
    padding: 0;
}
.student ul li
{
    margin: 0;
    padding: 0% 10%;
    display: inline-block;
    color: white;
}

.chess-board
{
    margin: 0% 30%;
}

.row
{
   display: block; 
}

.chess
{
    width:  5vw;
    height: 5vw;
    margin: 0;
    float: left;
}

.chess-white
{
    background-color: #f5f5dc;
    transition: transform 0.3s ease;
    transition: border-radius 0.4s ease; 
}

.chess-white:hover
{
    background-color: #c7c7b2;
    transform: scale(1.1);
    border-radius: 20%;
}

.chess-black
{
    background-color: #6d3a26;
    transition: transform 0.3s ease;
    transition: border-radius 0.4s ease; 
}

.chess-black:hover
{
    background-color: #442418;
    transform: scale(1.1); 
    border-radius: 20%;
}

#chess
{
    overflow: hidden;
}

.clear
{
    clear: both;
}
